*{
    margin: 0 auto;
    padding: 0;
}

/* Shared styles */
body{
    font-family: "Work Sans", sans-serif;
}

/* Header section styles */
header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    margin-bottom: 140px;
    height: 808px;
    text-align: right;
    
}

.header-container{
   padding: 216px 230px 166px; 
}

.header-title{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 25px;
    border: none;
}

main{
    background: #FFF;
}

/* Failures section styles */
.failure-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 280px 140px 206px;
    gap: 134px;
}

.title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failure-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    
}

.p-icon{
    gap: 8px;
}

.fa-solid{
    color: #16D887;
}


/* Plan section styles */
.plan-title{
    margin-bottom: 53px;
    text-align: center;
}

.skills-container{
    display: flex;
    text-align: center;
    padding:0 170px;
}

.skill-logo{
    margin-bottom: 24px;
}

.skill-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.skill-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 135px;
}

/* Positive section styles */
.positive-section{
    background:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 50%),url('../images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 130px;
    margin-left: 190px;
    
}
.positive-content{
    padding: 60px;
}

.positive-title{
    color: white;
    margin-bottom: 24px;
}

/* Footer section styles */
footer{
    background-color: black;
    height: 577px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding:130px 70px 130px 0;
}

.footer-title{
    color: #FFF;
    margin-bottom: 16px;
}

.footer-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.num{
    margin-top: 16px;
}

.footer-icon{
   margin-top: 32px;
}

.footer-btn{
    background-color: #005FAC;
    color: white;
    display: block;
    margin-top: 16px;
    margin-right: 200px;
    
}

.box{
    padding: 10px 30px;
    background-color: black;
    margin-top: 31px;
    font-size: 18px;
    font-weight: 800;
    
}
